<div class="m-topbar" ng-controller="headerCtrl">
    <div class="m-top">
        <div class="logo">
            <img class="logo-img" src="./src/static/images/logo2.png">
        </div>
        <ul class="m-nav">
            <li ng-repeat="item in nav.data">
                <div ng-if="(item.key != 3) && (item.key != 4)" class="m-nav-item" ng-click="nav.change($index)"
                     ui-sref="{{item.url}}" ui-sref-active="active">
                    <span ng-bind="item.value"></span>
                </div>
                <a ng-if="(item.key == 3) || (item.key == 4)" class="m-nav-item" ng-click="nav.change($index)"
                     href="{{item.url}}" target="_blank">
                    <span ng-bind="item.value"></span>
                </a>
            </li>
            <!--<li class="m-nav-item" ng-repeat="item in nav.data" ng-click="nav.change($index)"-->
            <!--ui-sref="{{item.url}}" ui-sref-active="active">-->
                <!--<span ng-bind="item.value"></span>-->
            <!--</li>-->
        </ul>
        <div class="search">
            <div class="search-item">
                <input class="search-inp" type="text" ng-model="v.keyword" ng-keydown="f.search($event)"/>
                <i class="iconfont search-icon">&#xe65c;</i>
            </div>
            <img class="user-logo" src=""/>
        </div>
    </div>
    <div class="m-subNav other-nav" ng-show="nav.current.key != 0">

    </div>
    <div class="m-subNav" ng-show="nav.current.key == 0">
        <ul class="sub-nav">
            <li class="sub-nav-item" ng-repeat="item in subNav.data" ng-click="subNav.change($index)">
                <span ui-sref="{{item.url}}" ui-sref-active="active" ng-bind="item.value"></span>
            </li>
        </ul>
    </div>
</div>