*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p{
    margin: 0;
}

a {
    color: #363f44;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus {
    color: #141719;
    text-decoration: none;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    float: left;
}
.f-thide{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.f-thide2{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.f-thide3{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.g-bg{
    position: relative;
    width: 980px;
    overflow: auto;
    _height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}
.g-bg .g-wrap{
    padding: 40px;
}